.small-column,
.medium-column,
.large-column,
.full-column {
    position: relative;
    float: left;
    overflow: hidden;
}
.small-column {
	max-width: 25%;
    margin: 0;
}
.medium-column {
	max-width: 48%;
    margin: 0;
}
.large-column {
	max-width: 70%;
    margin: 0;
}
.full-column {
	max-width: 100%;
	clear: both;
}
.media-center,
.media-right,
.media-left {
	width: 30%;
	height: auto;
}
.media-headline img,
.media-center img,
.media-right img,
.media-left img {
	max-width: 100%;
}
.media-headline {
	text-align: center;
	width: 100%;
    height: auto;
    margin: 0 auto;
    clear: both;
    padding-bottom: 10px;
}
.media-center {
	text-align: center;
    width: 100%;
    margin: 0 auto;
    clear: both;
}
.media-right {
    float: right;
    margin: 0;
	padding-left: 10px;
}
.media-left {
    float: left;
	margin: 0;
	padding-right: 10px;
}
.float-right {
	margin-right:0px;
	float: right;
}
.float-left {
	margin-left:0px;
	float: left;
}
.new-line {
	clear: both;
}
#wrapper {
	position: relative;
	top: 0;
	margin: 0;
	padding: 0;
	background: #fff;
}
#content {
	padding-top: 10px;
	width: 96%;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
}
#loading {
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	color: #fff;
	text-align: right;
	z-index: 999;
}

footer {
    width: 100%;
    clear: both;
	padding-top:20px;
}

body {
	padding: 0;
	margin: 0;
}
/*
.starting-headline {
    width: 712px;
    padding-top: 10px;
    background-color: #fff;
	clear:both;
}*/