h1,
h2,
h3,
h4,
p,
body {
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    font-family: 'DroidSans';
}
.content-element h1 {
    margin-bottom: 30px;
    color: #1c1c1c;
    font-size: 3em;
    font-family: 'Oswald';
    line-height: 1.1em;
	clear:both;
}

.content-element h2 {
    margin-bottom: 10px;
	margin-top:20px;
    color: #1c1c1c;
    font-size: 1.8em;
    font-family: 'Oswald';
    line-height: 1.1em;
}
p {
    display: block;
    margin-bottom: 15px;
    color: #555555;
    font-size: 1.0em;
    line-height: 1.50em;
}
li {
    color: #555555;
    line-height: 1.50em !important
}

a:link, a:visited, a:hover {
	color:#77f9ae;
}
	
.content-element a {
	color:#000;
	text-decoration:none;
	border-bottom:1px solid #77f9ae;
}

footer p {
    color: #c7c7c7;
    font-size: 0.9em
}

/*==============================================================================
    Copy text elements
   ==============================================================================*/

code, pre {
	background: #efefef;
}

/* The mark used to indicate the end of a multi-page story */
.end-mark {
	font-family: 'PTSerifRegular';
	font-size: 40%;
	color: #FF0000;
	display: inline;
}


 /*==============================================================================
    Table of Content (TOC)
   ==============================================================================*/
 
.toc-item  h1 {
	color: #fff;
    font-size: 25px;
    font-family: 'Oswald';
}
.toc-item  p {
	color: #8a8a8a;
    font-size: 15px;
    line-height: 1.1em;
}
.toc-number {
	color: #3f3f3f;
    font-family: 'Oswald';
    font-size: 80px;
}


 /*==============================================================================
    Blockquotes
    Thanks: http://24ways.org/2005/swooshy-curly-quotes-without-images
   ==============================================================================*/
   
blockquote {
	position: relative;
	background: #efefef;
	width: 70%;
	overflow: hidden;
	padding: 20px;
	font-size: 0.9em;
}
.quote-start {
	font-family: 'PTSerifRegular';
	float: left;
	height: 40px;
	margin-top: -30px;
	margin-left: -20px;
	font-size: 700%;
	color: #FF0000;
 }
 .quote-end {
 	font-family: 'PTSerifRegular';
	position: absolute;
	bottom: 20px;
	right: 10px;
	font-size: 700%;
	color: #FF0000;
	height: 40px;
 }